.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.countdown-value {
  width: 100px;
  height: 100px;
}

.countdown-value h1 {
  font-size: 60px;
}

.rating-container button {
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
}

.rating-container button:not(:first-of-type) {
  margin-left: 0.5rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
